.list {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 272px;
    color: #f2f2f3;
    cursor: pointer;
}

.price {
    display: flex;
}

.name {
    text-align: center;
}

.link {
    text-decoration: none;
}