.nav {
    width: 320px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    composes: text text_type_main-medium from global;
    display: block;
    margin: 0;
    padding: 18px 0;
    text-decoration: none;
    color: #8585ad;
}

.linkActive {
    composes: link;
    color: #f2f2f3;
}

.button {
    composes: text text_type_main-medium from global;
    display: block;
    margin: 0;
    padding: 18px 0;
    text-decoration: none;
    color: #8585ad;
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.notes {
    composes: text text_type_main-small mt-20 from global;
    width: 318px;
    color: #8585ad;
}