.section {
    width: 600px;
    height: calc(100vh - 130px);
}

.lists {    
    list-style: none;
    padding: 0;
    overflow-y: auto;
    height: calc(100vh - 290px);
}

.lists::-webkit-scrollbar {
    width: 8px;
  }
  
  .lists::-webkit-scrollbar-thumb {
    background-color: #8585ad;
  }
  
  .lists::-webkit-scrollbar-track {
    background-color: #2f2f37;
  }








.header {
    margin: 0 auto;
    width: 100%;
    background-color: #1c1c21;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {  
    display: flex;
    color: #8585ad;
    text-decoration: none;
}

.linkActive {
    composes: link;
    color: #f2f2f3;
  }