.container {
  composes: p-10 from global;
  position: relative;
  background-color: #1c1c21;
  border-radius: 32px;
  max-width: 720px;
  max-height: 718px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  composes: text text_type_main-large mt-4 from global;
  display: flex;
  justify-content: space-between;
}

.button {
  position: absolute;
  top: 60px;
  right: 35px;
  background: none;
  opacity: 1;
  border: none;
  cursor: pointer;
}